<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
<div class="page-body-wrapper full-page-wrapper auth-page">
    <div class="login--container">
        <div class="container">
            <div class="
          content-wrapper
          d-flex
          align-items-center
          auth auth-bg-1
          theme-one
        ">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <div class="auto-form-wrapper">
                            <div class="row" style="text-align: center">
                                <img src="../../assets/img/white-logo.png" alt="ID90 Travel" class="custom-logo" />
                            </div>

                            <form [formGroup]="authForm">
                                <div class="form-group">
                                    <label class="label">Company</label>

                                    <div class="input-field col s12">
                                        <select class="form-control" formControlName="airline">
                      <option
                        *ngFor="let airline of airlines"
                        [value]="airline"
                      >
                        {{ airline }}
                      </option>
                    </select>
                                    </div>
                                    <label class="label">Username</label>
                                    <div class="input-field col s12">
                                        <input type="text" class="form-control" formControlName="username" placeholder="Username" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label">Password</label>
                                    <div class="input-field col s12">
                                        <input type="password" class="form-control" formControlName="password" placeholder="*****" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" [disabled]="!authForm.valid" (click)="login()" class="btn btn-primary submit-btn btn-block" *ngIf="!loading">
                    Log In
                  </button>
                                    <button type="button" [disabled]="true" class="btn btn-primary submit-btn btn-block" *ngIf="loading">
                  <i class="fas fa-spinner"></i>
                    Please wait...
                  </button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <br />
                                    <a class="text-black text-small">Need Help Logging In?</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>