<div class="login--container">
    <div class="container">
        <div class="row" style="text-align: center">
            <img src="../../assets/img/white-logo.png" alt="ID90 Travel" class="custom-logo">
        </div>
        <div class="row">
            <form autocomplete="off" [formGroup]="authForm">
                <div class="card col s10 offset-s1 m6 offset-m3">
                    <div class="card-content">
                        <div class="card form--error-card"></div>
                        <div class="row">
                            <div class="col s12" style="width: 100%">
                                <select class="form-control" formControlName="airline">
                                    <option *ngFor="let airline of airlines" [value]="airline">{{ airline }}</option> 
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix fa fa-user" style="font-size: 20px"></i>
                                <input id="username" name="username" type="text" placeholder="Username" formControlName="username">
                                <small *ngIf="usernameValid">Username is required</small>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix fa fa-key" style="font-size: 20px"></i>
                                <input id="password" name="password" type="password" placeholder="Password" class="form-control" formControlName="password">
                                <small *ngIf="passwordValid">Password is required</small>
                            </div>
                            <button class="waves-effect waves-light btn custom--btn" type="submit" [disabled]="!authForm.valid" (click)='login()'><i class="fa fa-angle-double-right"></i>Log in</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>