.example-card {
    width: 400px;
    margin: 20px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    height: 250px;
}